<div class="container d-flex flex-column align-items-center">

    {{#if deleted}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Successfully 🎉</strong> 
            {{deleted}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}
    <i class="fa-solid fa-cloud text-success mt-3 fa-5x"></i>
    <h1 class="fs-1 fw-bold">Weather</h1>
</div>